    <footer>
		<div class="foot">
			<p>使用说明|意见反馈|免责条款|社区代理<span style="margin:0 10px;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263135339'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1263135339%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></span>
</p>
			<p>ICP备案编号：京ICP备14051536号-1 版权所有：张家口旅游网　建议您使用1366*768分辨率，ie8以上浏览器浏览本站</p>
			<script>
			//百度统计
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?28959f54b507b4e544e19772e04c75bb";
				var s = document.getElementsByTagName("script")[0]; 
				s.parentNode.insertBefore(hm, s);
			})();
			</script>
		</div>
	</footer>

	<script src="__PUBLIC__/home/common/js/headroom.min.js"></script>
	<script src="__PUBLIC__/home/js/zjkly_main.js"></script>