
    <include file="Common/header"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/article.css">

	<div class="main_box pay_confirm">
		<section class="confirm_box">
			<div class="confirm_list">
				<h3>订单确认</h3>
				<table class="table">
					<tr>
						<td>购买项目:</td>
						<foreach name='arr' item="vo">
						<td>{$vo.title}</td>
					   </foreach>
					</tr>
					<tr>
						<td>参加人数:</td>
						<foreach name='arr' item="vo">
						<td>{$vo.ctrs}</td>
						</foreach>
					</tr>
					<tr>
						<td>金额:</td>						
						<foreach name='arr' item="vo">
						<td>￥ <b class="red">{$vo.price}</b></td>
						</foreach>
					</tr>
					<tr>
						<td>出团日期:</td>
						<foreach name='arr' item="vo">
						<td>{$vo.create_time|date='Y-m-d',###}</td>
					    </foreach>
					</tr>
					<!-- <tr>
						<td>注意事项:</td>
						<foreach name='arr' item="vo">
						<td>{$vo.description}</td>
					</foreach>
					</tr> -->
					<tr>
						<td>事项说明:</td>
						<foreach name='arr' item="vo">
						<td>{$vo.description}</td>
					</foreach>
					</tr>

				</table>
			</div>

            <div class="confirm_userinfo">
                <h3 class="b_bottom p_bottom_10">订单所属人</h3>
                <div class="confirm_user">
					<span class="confirm_username m_right_10">{$user}</span>
					<span class="c_8 m_right_10">联系电话</span>
					<span>{$phone}</span>
					<span class="confirm_userhelp" title="您对身份信息有疑问?可以点击更正身份信息."><i class="fa fa-question-circle" aria-hidden="true"></i></span>
				</div>
                <h3 class="b_bottom p_bottom_10">通知方式</h3>
                <div class="confirm_user">
					<span class="confirm_username m_right_10">短信通知</span>
					<span class="confirm_username m_right_10">扫描二维码获取更及时信息</span>
					<img class="confirm_ewm" src="__PUBLIC__/home/img/ewm/ewm_alone.png"/>
				</div>
            </div>
			<div class="zffs_list">
				<h3>选择支付方式并付款</h3>
				<h4 class="b_bottom p_bottom_10">在线支付</h4>
				<table class="table">
					<tr>
						<td class="b_0"><img src="__PUBLIC__/home/img/pay/zhifubaopay.jpg">
						<span></span></td>
						<td class="b_0"><img src="__PUBLIC__/home/img/pay/winxinpay.jpg">
						<span></span></td>
					</tr>
				</table>
			</div>
			<div class="add_num">                  
                    <a href="/index.php?c=order&a=rel_order&id={$vo.news_id}" class="button button-glow button-rounded button-caution right">提交订单</a>
                </div>
           <!--  <div class="but_list">
                <button class="gray_but">返回修改</button>
				<button class="blue_but" id="singcms-button-submit">提交订单</button>
            </div> -->
		</section>
	</div>

    <include file="Common/footer"/>

	<script>
	$(document).ready(function() {
		$('.zffs_list table td').click(function(){
			$('.zffs_list table td span').empty();
			$(this).children('span').append('<img src="__PUBLIC__/home/img/pay/ok.png">');
		});
    });
	</script>

</body>
</html>
