
    <include file="Common/header"/>
    <link rel="stylesheet" href="__PUBLIC__/home/css/list.css">	 
	<div class="main_box">
		<section class="p_100" style="margin-top:-1px">
			<img class="list_banner" src="__PUBLIC__/home/img/list_banner.jpg"/>
		</section>
		<section>
		<div class="listzty_tab">
			<a href="{:U('Zhuti/index')}"><span >亲子</span></a>
			<a href="{:U('Zhuti/zijia')}"><span>自驾</span></a>
			<a href="{:U('Zhuti/huax')}"> <span>滑雪</span></a>
			<a href="{:U('Zhuti/shey')}"><span class="selected">摄影</span></a>
			<a href="{:U('Zhuti/meis')}"><span >美食</span></a>
			<a href="{:U('Zhuti/xinl')}"><span>心灵</span></a>
			<a href="{:U('Zhuti/qix')}"><span >骑行</span></a>
			<a href="{:U('Zhuti/yaog')}"><span>摇滚</span></a>
		</div>
		</section>
		<section>
			<!--左侧列表-->
			<div class="common_list left">
			<volist name="result['shey']" id="vo">
				<div class="list_item">
					<div class="list_item_from">
                        <div class="left c_6"><i class="fa fa-unlink m_leftright5 c_y"></i>来源：张家口旅游网</div>
                        <div class="right ty_style"><span class="c_y m_leftright5"><div class="left c_6"><i class="fa fa-unlink m_leftright5 c_y"></i>{$vo.create_time|date="Y-m-d H:i:s",###}</div></span>发布</div>
                    </div>
                    <h4 class="ellipsis"><a href="/index.php?c=detail&id={$vo.news_id}">{$vo.title}</a></h4>
					<p><a href="/index.php?c=detail&id={$vo.news_id}">{$vo.description}...</a></p>
                    <div class="img_box">
						<span class="tag_1">摄影</span><!--区别标签如果没有类别标签就不需要加-->
                        <a href="/index.php?c=detail&id={$vo.news_id}">
                        <img class="list_banner" src="{$vo.thumb}"/>
                        <img class="list_banner" src="{$vo.thumb}"/>
                        <img class="list_banner" src="{$vo.thumb}"/>
                        </a>
                    </div>
                    <div class="tag_other right">
                        <div class="tag_other_a">
                        	<div><i class="fa fa-eye c_y"></i><span class="c_y m_leftright5">1992</span></div>
                        	<div><i class="fa fa-comment c_y"></i><span class="c_y m_leftright5">1992</span></div>
                        </div>
                    </div>
				</div>
				
			</volist>
			{$result['pageres']}
			</div>
			<!--/左侧列表-->
			<!--右侧评论-->
			<div class="ping_list right">
				<div class="ping_title"><h3>最新目的地点评</h3></div>
				<div class="ping_item">
					<img class="ping_tx" src="__PUBLIC__/home/img/tx.jpg"/>
					<div class="right ping_text">
						<h4 class="ellipsis">林语隐客<span>点评了</span><cite>好莱坞标志</cite></h4>
						<div class="star"></div>
						<p>到此一游必拍点，因时间关系，远远的拍了几张，如果不是影迷，无需刻意拍摄<a href="#">全文</a></p>
					</div>
				</div>
				<div class="ping_item">
					<img class="ping_tx" src="__PUBLIC__/home/img/tx.jpg"/>
					<div class="right ping_text">
						<h4 class="ellipsis">林语隐客<span>点评了</span><cite>好莱坞标志</cite></h4>
						<div class="star"></div>
						<p>到此一游必拍点，因时间关系，远远的拍了几张，如果不是影迷，无需刻意拍摄<a href="#">全文</a></p>
					</div>
				</div>
				<div class="ping_item">
					<img class="ping_tx" src="__PUBLIC__/home/img/tx.jpg"/>
					<div class="right ping_text">
						<h4 class="ellipsis">林语隐客<span>点评了</span><cite>好莱坞标志</cite></h4>
						<div class="star"></div>
						<p>到此一游必拍点，因时间关系，远远的拍了几张，如果不是影迷，无需刻意拍摄<a href="#">全文</a></p>
					</div>
				</div>
				<div class="ping_item">
					<img class="ping_tx" src="__PUBLIC__/home/img/tx.jpg"/>
					<div class="right ping_text">
						<h4 class="ellipsis">林语隐客<span>点评了</span><cite>好莱坞标志</cite></h4>
						<div class="star"></div>
						<p>到此一游必拍点，因时间关系，远远的拍了几张，如果不是影迷，无需刻意拍摄<a href="#">全文</a></p>
					</div>
				</div>
			</div>
			<!--/右侧评论-->
		</section>
	</div>
	<include file="Common/footer"/>
	<script>
	$(document).ready(function() {
		$('.listzty_tab span').click(function(){
			$(this).addClass("selected").siblings().removeClass("selected");
		});
    });
	</script>
</body>
</html>
